html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2 ;
}

.inner-page {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/filter-bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
  position: relative;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  left: 530px;
  width: 140px;
  height: 71px;
}

.main-navigation {
  display: flex;
  justify-content: center;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  /* justify-content: space-between; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-item:nth-child(1) {
  padding-left: 72px;
}

.navigation-item:nth-child(2) {
  padding-left: 13px;
}

.navigation-item:nth-child(3) {
  padding-right: 17px;
}

.navigation-item:nth-child(4) {
  padding-right: 72px;
}

.navigation-item {
  width: 300px;
  padding: 15px 0px;
}

.navigation-item a {
  display: block;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}

.right a{
  text-align: right;
}

.navigation-item a:focus,
.navigation-item a:hover{
  color: #81b3d2;
}

.navigation-item a:active{
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item-current a {
  color: #766357;

  background-color: #ffffff;
}

.navigation-item-current a:hover,
.navigation-item-current a:focus,
.navigation-item-current a:active {
  color: #766357;

  background-color: #ffffff;
}

.welcome {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 509px;

  background-image: url("../img/bg.jpg");
  background-position: 0px -85px;
  background-repeat: no-repeat;
}

.welcome img {
  margin-top: 75px;
  height: 353px;
}

.welcome::after {
  content: url("../img/intro-mask.svg");
  height: 59px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;

  background: transparent;}

.about {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 216px;
  background-color: #ffffff;
}

.about h3{
  font-size: 21px;
  color: #000000;
  width: 440px;

  background-color: #ffffff;
}

.about p{
  font-weight: 400;
  color: #333333;
  width: 489px;

  background-color: #ffffff;
}

.reasons {
  background-color: #ffffff;
}

.reasons-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
}

.reasons-item {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  align-items: stretch;
  min-height: 256px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.reasons-item img {
  align-self: flex-start;
}
/*
.reasons-item:nth-child(2) {
  min-height: 330px;
} */

.city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 21px;
  padding-top: 47px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 59px;
}

.bridge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 21px;
  padding-top: 47px;
  padding-left: 48px;
  padding-right: 49px;
  padding-bottom: 59px;
}

.city h3,
.bridge h3 {
  font-size: 21px;
  margin: 0;
  padding: 0;
}

.city p,
.bridge p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.features {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  align-items: flex-start;
  background-color: #ffffff;
}

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  line-height: 21px;
  width: 400px;
  min-height: 330px;
}

.features-item:nth-child(2){
  padding-left: 55px;
  padding-right: 55px;
}

.features-item:nth-child(3){
  padding-left: 63px;
  padding-right: 63px;
}

.features-item img {
  align-self: center;
}

.features-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 28px;
  font-size: 21px;
  color: #000000;
  /* box-shadow: inset 0 0 0 2px rgb(134, 155, 145); */
}

.features-item p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  /* box-shadow: inset 0 0 0 2px rgb(34, 55, 145); */
}


.others {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  background-color: #eeeeee;
  /* text-align: center; */
}

.others-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding-top: 47px;
  padding-left: 95px;
  padding-right: 97px;
  padding-bottom: 59px;
  line-height: 21px;
  width: 400px;
}

.others-item:nth-child(2){
  padding-left: 69px;
  padding-right: 69px;
}

.others-item:nth-child(3){
  padding-left: 77px;
  padding-right: 77px;
}

.others-item h3 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  color: #000000;
}

.others-item p {
  margin: 0;
  padding: 0;
  padding-top: 19px;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.appointment {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 55px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 291px;

  background-color: #ffffff;
}

.appointment div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 105px;
}
.appointment h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.appointment-item {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  /* vertical-align: middle; */
  text-transform: uppercase;
  border: none;
}

.search {
  font-size: 21px;
  line-height: 26px;
  height: 86px;
  width: 568px;
  padding-top: 30px;


  background-color: #766357;
}

.search:hover,
.search:focus {
  background-color: #604e43;
}

.search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.modal-search {
  position: absolute;
  left: 316px;
  top: 291px;
  z-index: 1;
  width: 568px;
  height: 395px;
  margin: 0;
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 54px;
}

.search-item {
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  width: 458px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  align-items: baseline;
}

.search-item:nth-child(3),
.search-item:nth-child(4) {
  width: 229px;
}

.search-item label {
  margin: 0;
  padding: 0;
  padding-right: 21px;
  text-align: left;
}

.search-item:nth-child(2) label {
  padding-right: 17px;
}

.search-item:nth-child(3) label{
  padding-right: 41px;
}

.search-item:nth-child(4) label {
  padding-left: 50px;
  padding-right: 25px;
}

.search-item input[type="text"]{
  font: inherit;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  width: 316px;
  height: 38px;
  margin: 0;
  padding: 0;
  padding-left: 13px;
  background-color: #f2f2f2;
  border: 0px;
}

.search-item:nth-child(3) input[type="text"],
.search-item:nth-child(4) input[type="text"] {
  width: 38px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-form input[type="text"]:hover {
  outline: none;
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
  outline: none;
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}

.calendar {
  /* align-self: stretch; */
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-right: 8px;
  color: #cacaca;
  background-color: #f2f2f2;
}

.calendar:hover,
.calendar:focus {
  color: #000000;
}

.calendar:active {
  color: #81b3d2;
}

.button-input {
  margin: 0;
  color: #a9a9a9;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
}

.button-input:hover,
.button-input:focus {
  color: #000000;
}
.button-input:active {
  color: #81b3d2;
}

.button-submit {
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
}

.button-submit:hover,
.button-submit:focus {
  background-color: #669ec0;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.catalog-list {
  list-style: none;
}

.catalog-item-head a {
  font-size: 21px;
  color: #000000;
}

.catalog-info p,
.catalog-book p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.button-info {
  background-color: #81b3d2;
}

.button-book {
  background-color: #766357;
}

.stars {
  font-size: 18px;
  color: #81b3d2;
}

.rating {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666666;

  background-color: #f2f2f2;
}

.main-footer {
  position: relative;
}

.footer {
  display: flex;
  position: absolute;
  top: 473px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  opacity: 0.9;
}

.hashtag{
  width: 400px;
  margin: 0;
  padding-left: 132px;
  padding-top: 51px;
  padding-bottom: 53px;
  padding-right: 132px;
  font-size: 21px;
}

.footer-social {
  width: 400px;
  margin: 0;
  padding: 0;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  padding-left: 125px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-right: 125px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.developer {
  margin: 0;
  padding: 0;
  padding-left: 102px;
  padding-top: 39px;
  padding-bottom: 40px;
  padding-right: 101px;
  width: 400px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developer a {
  color: #000000;
  background-color: #ffffff;
}

.developer a:hover,
.developer a:focus {
  color: #81b3d2;
}

.developer a:active {
  color: #bdbbbc;
}

.developer img {
  background: transparent;
}
